body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    background: pink;
    display: flex;
    flex: 1;
    height: 100vh;
}

.left_column {
    background: green;
    width: 256px;
    height: 100vh;
}

.main_column {
    background: blue;
    flex: 1;
}

.searchbar {
    background: yellow;
    height: 60px;
    flex: 1; 
}

.flex-container {
    display:flex;   
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  
.flex-child {
    margin: 20px;
} 

.card_left {
    background: red;
    width: 536px;
    height: 100vh;
}
.flex-right {
    display: flex;
    flex-direction: column;
}
.card_right {
    
    background: rgb(117, 44, 44);
    width: 445px;
    height: 250px;
}