/*General and mobile styles*/


.body {
    display: flex;
    background-color: #e5e5e5;
    font-family: Poppins;
  }
  
  .title {
    color: red;
  }
  
  .sidebar {
    display: none;
    background-color: white;
  }
  
  .line {
    border-bottom: 2px solid #EBEFF2;
    width: 100%;
  }
  .searchbar {
    background-color: white;
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 60px;
      left: 0px;
      top: 0px;
      border-radius: 0px;
      border-bottom-color: lightgrey;
      border-bottom-width: 1px;
      justify-content: space-between;
    }
    .tasks-wrapper {
        background-color: white;
        flex-direction: column;
      } 
      .chart-wrapper {
        background-color: white;
        flex-direction: column;
      } 
      .calendar {
        background: white;
      }

/*Desktop styles*/

@media only screen and (min-width: 400px) {
    body {
        display: flex;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #e5e5e5
      }
     /* to be discussed 
      .content {
        background-color: #e5e5e5;
      } */

      .content {
        display: flex;
        flex-direction: column;
        background-color: #e5e5e5;
        width: 100ch;
        height: 85vh;
        margin-left: 258px;
        border-radius: 0px;
        border-right-color: lightgrey;
        box-shadow: lightgrey 1px 3px 3px 1px;
      }
    
      .sidebar {
        display: flex;
        position: fixed;
        flex-direction: column;
        height: 850px;
        width: 256px;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        border-right-color: lightgrey;
        box-shadow: lightgrey 1px 3px 3px 1px;
      }
      .SaaS {
        color: #109cf1;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        width: 100%;
        height: 30px;
        padding-left: 10%;
        padding-top: 5%;
      }

      .content {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
      }

      .searchbar {
          display: flex;
        height: 60px;
        width: 85ch ;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        border-bottom-color: #EBEFF2;
        border-bottom-width: 1px;
        justify-content: space-between;
      }
      .tasks-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        background-color: #f0f0f0;
      }
}